<% layout('layouts/boilerplate')%>

    <% for(let event of events){ %>
        <div class="card text-bg-dark mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(event.image.length) {%>
                        <img class="img-fluid" alt="" src="<%= event.image[0].url%>">
                        <% }else{%>
                            <img class="img-fluid" src="" alt="">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= event.title %>
                        </h5>
                        <p class="card-text">
                            <%= event.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= event.location %>
                            </small>
                        </p>
                        <a class="btn btn-outline-light" href="/events/<%= event._id %>"> View </a>
                    </div>
                </div>
            </div>
        </div>



        <% } %>