<% layout('layouts/boilerplate')%>

    <h1> All events</h1>
    <div>
        <a href="/events/new"> Add Event </a>
    </div>


    <% for(let event of events){ %>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%= event.image%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= event.title %>
                        </h5>
                        <p class="card-text">
                            <%= event.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= event.location %>
                            </small>
                        </p>
                        <a class="btn btn-light " href="/events/<%= event._id %>"> View </a>
                    </div>
                </div>
            </div>
        </div>



        <% } %>